.back{
    background-color: #121212;;     
    font-family: AbrilFatface;
  }
  



  @media screen and (min-width: 768px) {
    
#Dashboard {          
    display: grid;      
    grid-template-areas: 
    "🎃 👻"
    "🎃 🔮 ";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
   
}


.d-menu-izq{
grid-area: 🎃;
background: #ffffff;
border-radius: 2rem;
margin:1.5rem;
font-family:ViaodaLibre-Regular;
display: flex;
flex-direction: column; 
align-items: center;
}

.d-menu-izq .Image-name{
    margin-top: 2rem;
    height: 30vh;
    font-family: Poppins-medium;
    font-size:1rem ;
}
.d-menu-izq .Image-name .img-div{
    background-color: rgb(0, 0, 0);
    border-radius: 30rem;
    width: 8.5rem;
}
.d-menu-izq .Image-name img{
    border-radius: 18rem;
    opacity: .71;
}
.d-menu-izq .Image-name .name{
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

.d-menu-izq .Image-name .position{
    font-size: 1rem;
    color:rgb(146, 146, 146);
   
}

.d-menu-izq .d-nav-bar .list-menu{
    list-style: none;
    font-size:1.5rem ;
    font-weight: bold;
    text-align: initial;
    margin-left: -2rem;
    font-family:Rakkas-Regular;
    text-align: center;
}
.d-menu-izq .d-nav-bar .list-menu li{
    margin:2rem
}
.d-menu-izq .d-nav-bar .list-menu a{
    color: black;
}
.d-menu-izq .d-nav-bar .list-menu .active{
    background: rgb(49, 49, 49);
    color:white  !important;
    width: 12rem;
    border-radius: 0 2rem  0 2rem;
}

.d-menu-izq .d-nav-bar .list-menu .active a{
    color:white  !important;
}
.d-title-projects-cards{
    grid-area: 👻;    
    height: 10vh; 
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    font-size: 2rem;;
    color:var(--clr-text);
    align-items: center;
}


.mylinksul{ 
    list-style: none;
    display:flex;
    justify-content: center;     
    place-content: center;  
    width: 20vw;
    padding-right: 40px;
  }
  .mylinksul .fab{
   
    transition: all 0.15s;
  }
  
  .mylinksul i {
    font-size: 3rem;
    color: var(--clr-bg-dark);
  }
  .mylinksul .fab:hover {
	transform: scale(1.1);
    opacity: .8;
}

.d-title-projects-cards  .icons-title{
    padding-right: 150px;
}
.d-title-projects-cards  .icons-title ul{
    list-style: none;
    display: flex;    
    justify-content: space-around;
}
.d-title-projects-cards  .icons-title .fas{
    color:white !important;
    font-size: 35px;
    margin-right: 10px;
    transition: all 0.15s;
  }
  

  

  .d-title-projects-cards  .icons-title .fas:hover {
	transform: scale(1.5);

}


.d-projects-cards{
    grid-area: 🔮;
    display: grid;
    /* justify-content: unset; */
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
    grid-template-rows: repeat(auto-fill, 250px);
    overflow: auto;
    align-content: stretch;
    /* column-gap: 20px; */
    /* row-gap: 15px; */
    /* justify-items: unset; */
    margin: 0 134px 0 82px;  
}

}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 766px) and (min-width: 588px) {

}
/*
.dashboard .web{
    width: 98.5vw;          
    background-color: #121212;   ;   
    display: grid;    
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "🎃 👻"
                         "🎃 🔮 ";
    grid-gap: 5px;   
    width: 100vw;
    height: 100vh;
}


.web .menu-izq{
grid-area: 🎃;
background: #F2F2F2;
border-radius: 2rem;
margin: 1rem;
}
.web .nav-bar{
    grid-area: 👻;  
    display: flex;
    justify-content: space-between;
    padding:5rem;
    color: white;
    align-items: center;
}
.web .nav-bar .search-icons{
    list-style: none;    
    display: flex;      
}
.search-icons i{
    font-size: 2.2rem;    
    color:var(--clr-text); 
    margin:3px;
  }

.web .projects-cards{
    grid-area:🔮 ;
    background: rgb(68, 68, 68);
}

/*media 


@media(min-width:700px){
    .dashboard .mobil{
        display: none;
    }
}
@media(min-width:700px){
    .dashboard .web{
        display: none;
    }
}


.dashboard .web{
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
    grid-template-columns: 20% repeat(1, 1fr);
    grid-gap: 3px;
   
}

.dashboard .web .menu-izq{
    background: #F2F2F2;
    margin:1rem;
    border-radius: 2rem;
}
.dashboard .web .main{
    background: rgb(44, 45, 51);
}*/
